.hce-datacard-modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #0043a5;
  cursor: pointer;
  transition: background-color 150ms ease;
}

.hce-datacard-modal-close:hover {
  background-color: #003075;
}
